.token-drawer{ 
   display:flex;
   border-radius: 50px;
   left:0;
   right:0;
   margin-left:auto;
   margin-right:auto;
   justify-content: center;
   justify-items: center;
   height: 100%;
   background:white;
   position: fixed;
   bottom: 0;
   width: 80%;
   z-index: 200;
   box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
   transform: translateY(100%);
   transition: transform 0.3s ease-out;
 }

 .token-options{
   right:0;
   margin-top:2%;
   margin-right:2%;
   position: fixed;
   top: 0;
 }

 .token-drawer.open {
    transform: translateY(20%);
 }

  .token-drawer.docked {
    transform: translateY(80%);
 }

 