.login-page {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 200;
    background-size: 50px 50px;
    font-size: 1.2rem;
}

.ribbon {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

h1 {
    text-transform: Uppercase;
    margin-bottom: 0.5em;
    font-size: 6rem;
}

.title {
    padding-left: auto;
    padding-right: auto;
    padding-right: 3rem;
}

.title p {
    margin-top: -3.5rem;
    color: rgb(158, 158, 158);
    font-size: 2.1rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 1rem;
}

.login-form form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.login-form input {
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    width: 99%;
    border: 1px solid grey;
    background-color: rgb(231, 239, 245);
    color: grey;
}

.login-form input:focus {
    color: grey;
}

.login-button {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}

button {
    padding: 0.5rem;
    position: relative;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin: 0.1rem;
}

.links {
    display: flex;
    font-size: 1rem;
}

.links a {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    color: rgb(128, 173, 207);
}

.links > a {
    position: relative;
    text-decoration: none;
}

.links > a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.links > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(128, 173, 207);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

#login-toggle{
    position:fixed;
    right:1rem;
    top:1rem;
    z-index: 400;
}

@media only screen and (max-width: 1300px) {
    .ribbon {
        flex-direction: column;
        height: 75%;
        .login-form {
            border-radius: 0;
        }
    }
    h1 {
        font-size: 3rem;
    }
    .title {
        width: 100%;
        padding-right: 0;
    }
    .title p {
        margin-top: -2rem;
    }
}
