.login-page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 200;
  background-size: 50px 50px;
  font-weight: bold;
}

.ribbon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

h1 {
  text-transform: Uppercase;
  font-size: 5rem;
  font-family: arial;
}

.title {
  padding-left: auto;
  padding-right: auto;
  padding-right: 3rem;
}

.title p {
  margin-top: -3.5rem;
  font-size: 2.5rem;
}

.login-form {
  padding: 3rem;
  border-radius: 1rem;
}

.login-form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.login-form input {
  width: 99%;
  margin: 0.2rem 0;
  font-weight: inherit;
  font-size: 1.5rem !important;
  color: #6f6d72;
}

.login-button {
  margin: 0.5rem 0.1rem 1.5rem;
  width: 100%;
  font-size: 1.5rem;
}

button {
  font-weight: bold;
  padding: 0.5rem;
  position: relative;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
}

.links button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #2196f3;
  margin: .25rem 0.4rem 0 0.5rem;
  font-size: 1.1rem;
}

.links button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: inherit;
}

#login-toggle {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-size: 1.5rem;
}

@media only screen and (max-width: 1300px) {
  .ribbon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 75%;
    margin: 0;
    top: 5rem;
    padding: 1rem 0;
  }
  .ribbon .login-form {
    border-radius: 0;
  }
  .ribbon .login-form input {
    font-size: 1.2rem;
    padding: 0.2rem;
  }
  .ribbon p {
    margin: 0;
    font-size: 1.5rem;
  }
  h1 {
    font-size: 3rem;
    padding: 0;
    margin: 0.5rem;
    line-height: 1;
  }
  .title {
    width: 100%;
    padding: 0;
  }
  .login-form {
    margin: 2rem 0;
  }
  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .links button {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}
/*# sourceMappingURL=index.css.map */