.map-drawer {
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   position: fixed;
   bottom: 0;
   height: 9rem;
   z-index: 300;
   transform: translateY(100%);
   transition: transform 0.3s ease-out;
   overflow: hidden;
   overflow-y: scroll;
   p {
      margin-top: 3rem;
   }
}

.map-drawer.open {
   transform: translateY(0%);
}

.map-thumbnails {
   position: relative;
   margin: 1rem;
}

.map-container {
   display: flex;
   flex-wrap: wrap;
   padding-top:1rem;
}

.add-icon {
   font-size: 3rem;
}

.add-icon svg {
   margin-top: 1.5rem;
}

.map-container .map {
   width: 10rem;
   height: 5.62rem;
}

.map-form {
   position: relative;
}

#map-file-input {
   display: none;
}

.upload-form {
   width: 10rem;
   height: 5.62rem;
   margin: 1rem;
}

.delete-map {
   display:none;
   right: 0.2rem;
   top: -1.2rem;
}

@media only screen and (max-width: 1300px) {
   .map-container {
      justify-content: space-around;
   }
}

.show-options + .delete-map {
   display: block;
}

@keyframes fadeInOpacity {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
