.options {
    position: absolute;
    display: flex;
    border-radius: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: max-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 301;
    font-weight: bold;
    padding:.5rem;

    .handle{
        margin-bottom: .5rem;
    }
}

.logout-button {
    font-size: 1.2rem;
    padding: 0.7rem;
}

input {
    text-align: center;
}


#optionTray {
    display: none;
}

@media only screen and (max-width: 1300px) {
    .options {
        font-size: 1.5rem;

        .logout-button {
            span {
                padding: 0.5rem;
            }
        }
        .handle {
            font-size: 4rem;
        }
        #help-icon {
            top: 1.5rem;
            right: 1rem;
        }
    }
}
